button,
.btn,
input[type="submit"] {
  display: inline-block;
  background-color: transparent;
  border-style: none;
  border-width: 0;
  border-color: transparent;
  font-family: $mainfamily;
  transition: all $base-duration $base-timing;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  padding: 0;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

.btn--main {
  padding: 14px 20px;
  background-color: #1d1d1d;
  font-size: 14px;
  line-height: 20px;
  color: #fafafa;
  &:hover {
    color: #fff;
    background-color: #4d4d4d;
  }
  &:disabled {
    color: #fff;
    background-color: #b3b3b3;
  }
}
.btn--main-arrow {
  &:hover {
    .svg-icon--btn--main-arrow {
      transform: translateX(40%);
    }
  }
}
.svg-icon--btn--main-arrow {
  width: 10px;
  height: 10px;
  margin-left: 4px;
  margin-bottom: 2px;
  transition: transform $base-duration $arrow-timing;
}
.btn--main--big {
  font-size: 16px;
  line-height: 20px;
}
.btn--white {
  border: 2px solid #f7f7f7;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  padding: 14px 24px;
  &:hover {
    color: rgba($color: #f7f7f7, $alpha: 0.8);
    border-color: rgba($color: #f7f7f7, $alpha: 0.8);
  }
}
.btn--big-black {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border: 1px solid #1d1d1d;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1d1d1d;
  &:hover {
    background-color: #1d1d1d;
    color: #fff;
  }
}
.btn--big-black--arrow {
  &:hover {
    .svg-icon--btn--big-black {
      transform: translateX(40%);
    }
  }
}
.svg-icon--btn--big-black {
  width: 12px;
  height: 12px;
  margin-bottom: 4px;
  transition: transform $base-duration $arrow-timing;
}
.btn-arrowed {
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: #1d1d1d;
  white-space: normal;
  text-align: left;
  &:hover {
    .svg-icon--btn-arrowed {
      color: #1d1d1d;
    }
  }
}
.svg-icon--btn-arrowed {
  width: 32px;
  height: 32px;
  color: #b3b3b3;
  transition: color $base-duration $base-timing;
}

.btn--border {
  border: 1px solid #1d1d1d;
  font-size: 14px;
  line-height: 26px;
  color: #1d1d1d;
  padding: 4px 8px;
  background-color: transparent;
  &:hover {
    color: #fff;
    background-color: #0066cc;
    border-color: #0066cc;
    .svg-icon--btn--border {
      transform: translateX(40%);
    }
  }
}
.svg-icon--btn--border {
  width: 10px;
  height: 10px;
  margin-left: 4px;
  margin-bottom: 2px;
  transition: transform $base-duration $arrow-timing;
}
.btn--link {
  color: #1d1d1d;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  &:hover {
    color: rgba($color: #1d1d1d, $alpha: 0.5);
  }
}
