button,
.btn,
input[type='submit'] {
  display: inline-block;
  background-color: transparent;
  border-style: none;
  border-width: 0;
  border-color: transparent;
  font-family: $mainfamily;
  transition: all $base-duration $base-timing;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  padding: 0;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

.btn--main {
  padding: 14px 20px;
  background-color: #1d1d1d;
  font-size: 14px;
  line-height: 20px;
  color: #fafafa;
  &:hover {
    color: #fff;
    background-color: #4d4d4d;
  }
}
.svg-icon--btn--main-arrow {
  width: 10px;
  height: 10px;
  margin-left: 4px;
}
.btn--white {
  border: 2px solid #f7f7f7;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #f7f7f7;
  padding: 16px 24px;
  &:hover {
    color: rgba($color: #f7f7f7, $alpha: 0.8);
    border-color: rgba($color: #f7f7f7, $alpha: 0.8);
  }
}
.btn--big-black {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border: 1px solid #1d1d1d;
  padding: 20px;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1d1d1d;
  &:hover {
    background-color: #1d1d1d;
    color: #fff;
  }
}
.svg-icon--btn--big-black {
  width: 12px;
  height: 12px;
}
.btn-arrowed {
  font-weight: bold;
  font-size: 26px;
  line-height: 26px;
  color: #1d1d1d;
  white-space: normal;
  text-align: left;
  &:hover {
    .svg-icon--btn-arrowed {
      color: #1d1d1d;
    }
  }
}
.svg-icon--btn-arrowed {
  width: 45px;
  height: 45px;
  color: #b3b3b3;
  transition: color $base-duration $base-timing;
}

.btn--border {
  border: 1px solid #1d1d1d;
  font-size: 14px;
  line-height: 26px;
  color: #1d1d1d;
  padding: 4px 8px;
  background-color: transparent;
  &:hover {
    color: #fff;
    background-color: #0066cc;
    border-color: #0066cc;
  }
}
.svg-icon--btn--border {
  width: 10px;
  height: 10px;
  margin-left: 4px;
}
.dd-wrapper {
  position: relative;
  &.opened {
    .dd-inner {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
.btn--dd {
  position: relative;
  padding: 4px 28px 4px 8px;
  border: 1px solid #1d1d1d;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1d;
  z-index: 2;
  &.opened {
    .svg-icon--btn-dd {
      transform: translate(0, -50%) rotate(180deg);
    }
  }
}
.svg-icon--btn-dd {
  position: absolute;
  top: 50%;
  right: 8px;
  transform: translate(0, -50%);
  width: 16px;
  height: 16px;
  transition: transform $base-duration $base-timing;
}
.dd-inner {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  padding: 32px 24px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.15);
  transition: opacity $base-duration $base-timing,
    visibility $base-duration $base-timing,
    transform $base-duration $base-timing;
  z-index: 1;
}
.dd-item {
  display: flex;
  width: 100%;
  align-items: center;
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0;
  }
}
.base-checkbox-wrapper {
  &:hover {
    .base-checkbox-fake {
      border-color: #0066cc;
    }
    .base-checkbox-text {
      color: #0066cc;
    }
  }
}
.base-checkbox {
  @extend .visually-hidden;
  &:checked + .base-checkbox-fake {
    background-color: #1d1d1d;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='11' viewBox='0 0 14 11' width='14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath clip-rule='evenodd' d='m13.5304 1.53039-8.53034 8.53031-4.530333-4.53031 1.060663-1.06066 3.46967 3.46967 7.46964-7.469673z' fill='%23fff' fill-rule='evenodd'/%3E%3C/svg%3E");
  }
  &:disabled + .base-checkbox-fake {
    border-color: #b3b3b3;
    cursor: default;
    & + .base-checkbox-text {
      color: #b3b3b3;
      cursor: default;
    }
  }
}
.base-checkbox-fake {
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 1px solid #1d1d1d;
  margin-right: 8px;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  transition: background-color $base-duration $base-timing,
    border-color $base-duration $base-timing;
}
.base-checkbox-text {
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1d;
  vertical-align: middle;
  cursor: pointer;
  transition: color $base-duration $base-timing;
}

.base-checkbox-sub-text {
  font-size: 14px;
  line-height: 20px;
  color: #808080;
  vertical-align: middle;
}
