.main-header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #fff;
  border-bottom: 1px solid #1d1d1d;
  z-index: 100;
  @media screen and (max-width: $mobile-bp) {
    background-color: #1d1d1d;
    transition: background-color $base-duration $base-timing;
    &.opened {
      background-color: #fff;
      .btn--main-header-menu {
        opacity: 0;
        visibility: hidden;
      }
      .main-header-logo {
        color: #1d1d1d;
      }
      .btn--main-header-close {
        display: block;
      }
      .btn--header-panel {
        display: none;
      }
    }
    &.hide {
      display: none;
    }
  }
}
.main-header-inner {
  display: flex;
  width: 100%;
  padding: 0 24px 0 0;
  @media screen and (max-width: $mobile-bp) {
    padding: 0;
  }
}
.main-header-logo {
  display: flex;
  align-items: center;
  margin-right: 30px;
  color: #1d1d1d;
  padding: 0 8px;
  transition: color $base-duration $base-timing,
    background-color $base-duration $base-timing;
  &:hover {
    background-color: #1d1d1d;
    color: #fff;
  }
  @media screen and (max-width: $mobile-bp) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-right: 0;
    color: #fff;
  }
}
.svg-icon--header-logo {
  width: 149px;
  height: 32px;
}
.main-header-nav {
  display: flex;
  @media screen and (max-width: $mobile-bp) {
    display: none;
    position: fixed;
    left: 0;
    top: 57px;
    width: 100%;
    height: calc(100% - 57px);
    overflow-y: auto;
    background-color: #fff;
    &.show {
      display: flex;
    }
  }
}
.btn--main-header-menu {
  display: none;
  color: #fff;
  padding: 16px;
  @media screen and (max-width: $mobile-bp) {
    display: block;
  }
}
.svg-icon--main-header-menu {
  width: 24px;
  height: 24px;
}
.btn--main-header-close {
  display: none;
  padding: 16px;
  color: #1d1d1d;
}
.svg-icon--main-header-close {
  width: 24px;
  height: 24px;
}
.main-header-nav-item {
  display: block;
  padding: 16px 20px;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1d1d1d;
  transition: color $base-duration $base-timing,
    background-color $base-duration $base-timing;
  &:hover {
    background-color: #1d1d1d;
    color: #fff;
  }
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
.main-header-panel {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.header-dropdown-viewed {
  position: relative;
  margin-right: 20px;
  height: 100%;
  @media screen and (max-width: $mobile-bp) {
    margin-right: 0;
  }
  &.opened {
    .header-dropdown-viewed-inner {
      opacity: 1;
      visibility: visible;
      transform: translateY(1px);
    }
  }
}
.header-dropdown-viewed-inner {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  right: 0;
  width: 532px;
  max-height: 650px;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.15);
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity $base-duration $base-timing,
    visibility $base-duration $base-timing,
    transform $base-duration $base-timing;
  @media screen and (max-width: $mobile-bp) {
    width: 320px;
    max-height: 500px;
  }
}
.header-dropdown-viewed-head {
  display: flex;
  justify-content: space-between;
  flex: 0 0 auto;
  width: 100%;
  padding: 24px;
  border-bottom: 1px solid rgba($color: #1d1d1f, $alpha: 0.2);
  @media screen and (max-width: $mobile-bp) {
    padding: 16px;
  }
}
.header-dropdown-viewed-title {
  font-size: 28px;
  line-height: 34px;
  color: #1d1d1f;
  @media screen and (max-width: $mobile-bp) {
    font-size: 24px;
    line-height: 30px;
  }
}
.btn--header-dropdown-viewed-close {
  @media screen and (max-width: $mobile-bp) {
    .svg-icon--btn--popup-close.svg-icon--btn--popup-close {
      width: 24px;
      height: 24px;
    }
  }
}
.header-dropdown-viewed-item-wrapper {
  width: 100%;
  flex-grow: 1;
  padding: 14px 24px 14px 24px;
  overflow-y: auto;
}
.header-dropdown-viewed-btn-block {
  flex: 0 0 auto;
  width: 100%;
  padding: 24px;
  border-top: 1px solid #e5e5e5;
}
.header-dropdown-viewed-item-stubs {
  font-size: 18px;
  line-height: 26px;
  color: #1d1d1f;
  @media screen and (max-width: $mobile-bp) {
    .svg-icon--btn--popup-close.svg-icon--btn--popup-close {
      font-size: 14px;
      line-height: 22px;
    }
  }
}
.header-dropdown-viewed-item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  border-bottom: 1px solid #e5e5e5;
  padding: 16px 0;
  &:last-child {
    border-bottom: none;
  }
}
.header-dropdown-viewed-item-img-col {
  max-width: 45%;
  flex-basis: 45%;
  @media screen and (max-width: $mobile-bp) {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.header-dropdown-viewed-item-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 70%;
}
.header-dropdown-viewed-item-text-col {
  max-width: 55%;
  flex-basis: 55%;
  padding-left: 36px;
  @media screen and (max-width: $mobile-bp) {
    max-width: 100%;
    flex-basis: 100%;
    padding-left: 0;
  }
}
.header-dropdown-viewed-item-text-title {
  font-size: 10px;
  line-height: 20px;
  color: rgba($color: #1d1d1d, $alpha: 0.5);
  text-transform: uppercase;
}
.header-dropdown-viewed-item-text-name {
  max-width: 100%;
  margin-bottom: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  white-space: nowrap;
  @media screen and (max-width: $mobile-bp) {
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 8px;
  }
}
.header-dropdown-viewed-item-text-name-black {
  color: #1d1d1d;
}
.header-dropdown-viewed-item-text-name-gray {
  color: rgba($color: #1d1d1d, $alpha: 0.5);
}
.header-dropdown-viewed-item-cost-black {
  font-weight: bold;
  font-size: 24px;
  color: #1d1d1d;
  @media screen and (max-width: $mobile-bp) {
    font-size: 20px;
  }
}
.header-dropdown-viewed-item-cost-thin {
  font-weight: 500;
  font-size: 16px;
  color: rgba(29, 29, 31, 0.5);
  @media screen and (max-width: $mobile-bp) {
    font-size: 14px;
  }
}

.btn--header-panel {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  color: #1d1d1d;
  padding: 0 6px;
  @media screen and (max-width: $mobile-bp) {
    color: #fff;
    margin-right: 0;
    padding: 16px;
  }
  &:hover,
  &.active {
    background-color: #1d1d1d;
    color: #fff;
  }
}
.btn--header-panel-counter {
  position: absolute;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ff2800;
  font-weight: bold;
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  @media screen and (max-width: $mobile-bp) {
    top: 8px;
  }
}
.svg-icon--header-panel {
  width: 36px;
  height: 36px;
  @media screen and (max-width: $mobile-bp) {
    width: 24px;
    height: 24px;
  }
}
.main-header-panel-link {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #1d1d1d;
  transition: color $base-duration $base-timing;
  &:hover {
    color: rgba($color: #1d1d1d, $alpha: 0.5);
  }
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
.main-header-nav-item-dropdown {
  &:hover {
    .main-header-dropdown {
      opacity: 1;
      visibility: visible;
    }
  }
}
.main-header-dropdown {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: calc(100vh - 49px);
  background-color: #fff;
  overflow: hidden;
  padding: 24px 0 0 0;
  opacity: 0;
  visibility: hidden;
  &.active {
    .main-header-dropdown-item,
    .main-header-dropdown-link,
    .main-header-dropdown-title {
      color: #fff;
      @media screen and (max-width: $mobile-bp) {
        color: #1d1d1d;
      }
    }
  }
  @media screen and (max-width: $mobile-bp) {
    visibility: visible;
    opacity: 1;
    height: auto;
    top: 0;
  }
}
.container--header-dropdown {
  position: relative;
  z-index: 2;
}
.main-header-dropdown-col {
  margin-right: 80px;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: $mobile-bp) {
    flex-basis: 50%;
    max-width: 50%;
    margin-right: 0;
  }
}
.main-header-dropdown-col--mobile {
  display: none;
  @media screen and (max-width: $mobile-bp) {
    display: block;
  }
}
.main-header-dropdown-title {
  display: block;
  margin-bottom: 26px;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #1d1d1d;
  transition: color $base-duration $base-timing;
  @media screen and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 16px;
    letter-spacing: 0.05em;
    padding: 16px;
    margin: 0;
  }
}
.main-header-dropdown-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  font-size: 44px;
  line-height: 54px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #1d1d1d;
  border-bottom: 3px solid transparent;
  margin-bottom: 10px;
  transition: color $base-duration $base-timing;
  &:hover {
    border-color: #fff;
  }
  @media screen and (max-width: $mobile-bp) {
    font-size: 16px;
    line-height: 16px;
    margin: 0;
    padding: 16px;
  }
}

.main-header-dropdown-item-quantity {
  margin-left: 70px;
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
.main-header-dropdown-link {
  display: block;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #808080;
  margin-top: 24px;
  transition: color $base-duration $base-timing;
  &:hover {
    color: #4d4d4d;
  }
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
.svg-icon--header-dropdown-link {
  width: 20px;
  height: 20px;
}
.main-header-dropdown-bg {
  position: absolute;
  left: 50%;
  top: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%) scale(1.2);
  object-fit: cover;
  transition: opacity $base-duration $base-timing;
  z-index: 1;
  opacity: 0;
  &.show {
    opacity: 1;
  }
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
