.msg-widjet-panel {
  position: fixed;
  display: flex;
  bottom: 34px;
  right: 24px;
  background-color: #1d1d1d;
  z-index: 2;
  @media screen and (max-width: $mobile-bp) {
    right: 16px;
    bottom: 16px;
  }
}
.msg-widjet-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 12px 16px;
  border-right: 1px solid #fff;
  transition: background-color $base-duration $base-timing,
    color $base-duration $base-timing;
  &:last-child {
    border-right: 0;
  }
}
.msg-widjet-item-wa {
  &:hover {
    color: #fff;
    background-color: #4de084;
  }
}
.msg-widjet-item-email {
  &:hover {
    color: #fff;
    background-color: #4d4d4d;
  }
}
.svg-icon--msg-widjet-item {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
