.msg-widjet-panel {
  position: fixed;
  display: flex;
  bottom: 34px;
  right: 24px;
  background-color: #1d1d1d;
  z-index: 2;
  @media screen and (max-width: $mobile-bp) {
    right: 16px;
    bottom: 16px;
  }
}
.msg-widjet-item {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  padding: 12px 16px;
  border-right: 1px solid #fff;
  transition: color $base-duration $base-timing;
  &:last-child {
    border-right: 0;
  }
  &:hover {
    color: rgba($color: #fff, $alpha: 0.8);
  }
}
.svg-icon--msg-widjet-item {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}
