.popup-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 101;
  overflow-y: auto;
  display: none;
  &.show {
    display: block;
  }
}
.popup-wrapper_project {
  width: 100%;
  height: 100%;
  bottom: auto;
  right: auto;
}
.popup-wrapper--animate {
  display: block;
  visibility: hidden;
  opacity: 0;
  &.show {
    visibility: visible;
    opacity: 1;
    .popup-right-animate {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.popup-right-animate {
  opacity: 0;
  transform: translateX(100%);
  transition: transform $base-duration $base-timing,
    opacity $base-duration $base-timing;
}
.popup-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #1d1d1d, $alpha: 0.4);
}
.popup-overlay_project {
  position: fixed;
  width: 100%;
  height: 100%;
  bottom: auto;
  right: auto;
  z-index: 1;
}
.project-popup {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  position: relative;
  z-index: 2;
  @media screen and (max-width: $mobile-bp) {
    max-height: none;
    height: 100%;
    margin-top: 0;
  }
}
.project-popup-head {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 16px;
}
.project-popup-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 20px;
  color: #1d1d1d;
}
.btn--popup-close {
  color: #1d1d1d;
  font-size: 16px;
  line-height: 20px;
  &:hover {
    color: rgba($color: #1d1d1d, $alpha: 0.5);
  }
}
.btn--popup-close--base {
  margin-left: 10px;
  .svg-icon--btn--popup-close {
    width: 36px;
    height: 36px;
  }
}
.btn--popup-close-text {
  margin-right: 8px;
}
.svg-icon--btn--popup-close {
  width: 24px;
  height: 24px;
}
.project-popup-nav-slide {
  padding: 0 16px;
  &.slick-current {
    .project-popup-nav-slide-text {
      color: #1d1d1d;
    }
  }
}
.project-popup-nav-slider-wrapper {
  flex: 0 0 auto;
  position: relative;
  width: 100%;
  padding: 12px 0;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
}

.project-popup-nav-slide-input-inner {
  cursor: pointer;
}
.project-popup-nav-slide-input {
  @extend .visually-hidden;
  &:checked + .project-popup-nav-slide-text {
    color: #1d1d1d;
    &:hover {
      color: #1d1d1d;
    }
  }
}
.project-popup-nav-slide-text {
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  transition: color $base-duration $base-timing;
  &:hover {
    color: rgba($color: #1d1d1d, $alpha: 0.8);
  }
}
.slider-arrow-project {
  position: absolute;
  top: 0;
  height: 100%;
  width: 64px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
  color: #808080;
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
  &.slick-disabled {
    display: none !important;
  }
}
.slider-arrow-project--prew {
  left: 0;
  background-image: linear-gradient(
    90deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.85) 68.75%,
    rgba(255, 255, 255, 0) 100%
  );
}
.slider-arrow-project--next {
  right: 0;
  background-image: linear-gradient(
    270deg,
    #fff 0,
    rgba(255, 255, 255, 0.85) 68.75%,
    rgba(255, 255, 255, 0) 100%
  );
}
.svg-icon--slider-arrow-project {
  width: 21px;
  height: 29px;
}
.project-popup-main-slider-wrapper {
  flex-grow: 1;
  width: 100%;
  padding: 24px;
  @media screen and (max-width: $mobile-bp) {
    padding: 16px;
    overflow-y: auto;
  }
}

.project-popup-project {
  display: none;
  &.show {
    display: block;
  }
}

.project-popup-main-slider {
  .slick-dots {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    overflow-y: auto;
    li {
      opacity: 0.5;
      transition: opacity $base-duration $base-timing;
      &.slick-active {
        opacity: 1;
      }
    }
  }
  .slick-arrow {
    position: absolute;
    top: 26vw;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: 0.8);
    z-index: 2;
    font-size: 0;
    line-height: 0;
    color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px;
  }
  .slick-prev {
    left: 4px;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='21' viewBox='0 0 24 21' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m10.7955 20.6382-10.181864-10.1818 10.181864-10.181852 1.75 1.750002-7.20459 7.18181h18.65909v2.50004h-18.65909l7.20459 7.2045z' fill='%231d1d1d'/%3E%3C/svg%3E");
  }
  .slick-next {
    right: 4px;
    background-image: url("data:image/svg+xml,%3Csvg fill='none' height='22' viewBox='0 0 24 22' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m13.2045 21.1577 10.1819-10.1818-10.1819-10.181821-1.75 1.750001 7.2046 7.18182h-18.6591v2.5h18.6591l-7.2046 7.2045z' fill='%231d1d1d'/%3E%3C/svg%3E");
  }
}
.project-popup-main-pagin {
  width: 92px;
  height: 72px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  margin-bottom: 8px;
}
.project-popup-main-slide {
  position: relative;
  padding: 0 0 0 116px;
  @media screen and (max-width: $mobile-bp) {
    padding: 0;
  }
}
.project-popup-main-slide-row {
  display: flex;
  position: relative;
  @media screen and (max-width: $mobile-bp) {
    flex-wrap: wrap;
  }
}
.project-popup-main-slide-img-col {
  flex-basis: calc((100% / 3) * 2);
  max-width: calc((100% / 3) * 2);
  @media screen and (max-width: $mobile-bp) {
    flex-basis: 100%;
    max-width: 100%;
  }
}
.project-popup-main-slide-img {
  padding-top: 62%;
  margin-bottom: 16px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.project-popup-main-slide-title {
  font-size: 16px;
  line-height: 20px;
  color: #000;
  @media screen and (max-width: $mobile-bp) {
    margin-bottom: 24px;
  }
}
.project-popup-main-slide-page-counter {
  display: none;
  text-align: center;
  margin-bottom: 12px;
  font-size: 16px;
  line-height: 20px;
  color: #808080;
  @media screen and (max-width: $mobile-bp) {
    display: block;
  }
}
.project-popup-main-slide-material {
  flex-basis: calc(100% / 3);
  max-width: calc(100% / 3);
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 0 0 0 24px;
  overflow-y: auto;
  @media screen and (max-width: $mobile-bp) {
    position: static;
    flex-basis: 100%;
    max-width: 100%;
    padding: 0;
  }
}
.project-popup-main-slide-material-item {
  display: block;
  margin-bottom: 24px;
  transition: background-color $base-duration $base-timing;
  @media screen and (max-width: $mobile-bp) {
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      border-color: transparent;
    }
  }
  &:hover {
    background-color: #1d1d1d;
    .project-popup-main-slide-material-item-name,
    .project-popup-main-slide-material-item-cost {
      color: #fff;
    }
    .project-popup-main-slide-material-item-name--gray,
    .project-popup-main-slide-material-item-cost-thin {
      color: rgba($color: #b3b3b3, $alpha: 0.5);
    }
  }
}
.project-popup-main-slide-material-item-img {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  margin-bottom: 16px;
}
.project-popup-main-slide-material-text {
  padding: 0 8px 8px 8px;
}
.project-popup-main-slide-material-item-name-wrapper {
  margin-bottom: 16px;
}
.project-popup-main-slide-material-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #1d1d1d;
  transition: color $base-duration $base-timing;
}
.project-popup-main-slide-material-item-name--gray {
  color: rgba($color: #1d1d1d, $alpha: 0.5);
}
.project-popup-main-slide-material-item-cost {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #1d1d1d;
  transition: color $base-duration $base-timing;
}
.project-popup-main-slide-material-item-cost-thin {
  font-size: 12px;
  line-height: 15px;
  color: rgba($color: #1d1d1d, $alpha: 0.5);
  transition: color $base-duration $base-timing;
}
.slab-popup {
}
.base-popup-head {
  flex: 0 0 auto;
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 24px;
  margin-bottom: 36px;
  border-bottom: 1px solid rgba($color: #1d1d1d, $alpha: 0.1);
}
.base-popup-head-title {
  font-size: 28px;
  line-height: 34px;
  color: #1d1d1d;
}
.base-popup-text {
  font-size: 16px;
  line-height: 28px;
  color: #1d1d1d;
  margin-bottom: 24px;
}
.base-popup-inner {
  width: 100%;
  padding: 0 24px;
  img {
    max-width: 100%;
  }
}
.base-popup-inner--scroll {
  overflow-y: auto;
  flex-grow: 1;
}
.base-popup-list {
  li {
    position: relative;
    padding: 16px 0 0 48px;
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      border-bottom: none;
    }
  }
}
.base-popup-list-counter {
  position: absolute;
  left: 0;
  top: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid #1d1d1d;
  color: #1d1d1d;
  font-size: 32px;
  line-height: 32px;
}
.popup-right {
  position: fixed;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 1;
}
.profile-iption-img {
  width: 100%;
  margin-bottom: 24px;
}
.base-popup-bts-bottom {
  flex: 0 0 auto;
  padding: 24px;
  border-top: 1px solid rgba($color: #1d1d1d, $alpha: 0.1);
}
.base-input-wrapper--calculation-order {
  margin-bottom: 32px;
}
.calculation-order-col2 {
  flex-basis: calc(50% - 12px);
  max-width: calc(50% - 12px);
  margin-right: 24px;
  &:nth-child(2n) {
    margin-right: 0;
  }
  @media screen and (max-width: $mobile-bp) {
    flex-basis: 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
.get-photo-popup {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  max-width: 488px;
  width: 100%;
  background-color: #fff;
}
.get-photo-popup--email {
  max-width: 628px;
}
.get-photo-input-tel-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 36px;
}
.get-photo-input-tel {
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  border: none;
  &::placeholder {
    color: #e5e5e5;
  }
  &.error {
    color: #ff2800;
    & + .get-photo-input-err {
      display: block;
    }
  }
}
.get-photo-input-err {
  display: none;
  position: absolute;
  top: 100%;
  width: 100%;
  font-size: 12px;
  line-height: 15px;
  color: #ff2800;
}
.get-photo-popup-head {
  display: flex;
  justify-content: space-between;
  padding: 32px 24px 24px 24px;
}
.base-popup-inner--get-photo {
  padding: 0 24px 32px 24px;
}
.calculation-example-item {
  display: block;
}
.calculation-example-item-input {
  @extend .visually-hidden;
  &:checked + .calculation-example-item-text {
    background-color: #fafafa;
    color: #0066cc;
  }
}
.calculation-example-item-text {
  display: table;
  font-size: 16px;
  line-height: 26px;
  color: #1d1d1d;
  padding: 12px 16px;
  transition: color $base-duration $base-timing,
    background-color $base-duration $base-timing;
  cursor: pointer;
}
.calculation-example-popup {
  max-width: 438px;
}
.calculation-example-img-inner {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 438px);
  height: 100%;
}
.calculation-example-img {
  display: none;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow-y: auto;
  img {
    max-width: 100%;
    height: auto;
  }
  &.show {
    display: block;
    @media screen and (max-width: $mobile-bp) {
      display: none;
    }
  }
}
.calculation-fancy-example-img {
  display: flex;
  width: 100%;
  height: 100%;
  img {
    max-width: 100%;
    height: auto;
  }
}
