.catalog-head {
  padding: 44px 0;
  background-image: url("../images/dest/img/catalog_head.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 34px;
  @media screen and (max-width: $mobile-bp) {
    margin-bottom: 16px;
  }
}
.catalog-head-title {
  font-weight: 800;
  font-size: 44px;
  line-height: 53px;
  text-transform: uppercase;
  color: #fafafa;
}
.catalog-head-text {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fafafa;
}
.catalog-section-head-block {
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
.catalog-section-head-container {
  max-width: 100%;
}
.catalog-section-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}
.catalog-title {
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #1d1d1d;
}
.catalog-title-quantity {
  color: rgba(29, 29, 29, 0.5);
}
.catalog-search-form {
  display: flex;
  position: relative;
  z-index: 11;
  &.opened {
    .catalog-search-inner {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
  }
}
.catalog-search-inner {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 323px;
  overflow-y: auto;
  background-color: #fff;
  box-shadow: 0 2px 6px rgba($color: #000000, $alpha: 0.15);
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity $base-duration $base-timing,
    visibility $base-duration $base-timing,
    transform $base-duration $base-timing;
}
.catalog-search-item {
  display: flex;
  padding: 16px 0;
  margin: 0 16px;
  border-bottom: 1px solid #e5e5e5;
  transition: opacity $base-duration $base-timing;
  &:hover {
    opacity: 0.8;
  }
}
.catalog-search-col-img {
  max-width: 33%;
  flex-basis: 33%;
}
.catalog-search-col-text {
  max-width: 77%;
  flex-basis: 77%;
  padding-left: 16px;
}
.catalog-search-title {
  font-size: 10px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba($color: #1d1d1f, $alpha: 0.5);
}
.catalog-search-name {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
  white-space: nowrap;
}
.catalog-search-name-gray {
  color: rgba($color: #000, $alpha: 0.5);
}
.catalog-search-img {
  display: flex;
  width: 100%;
  img {
    object-fit: cover;
    height: auto;
    width: 100%;
  }
}
.catalog-search-input {
  border: 1px solid #b3b3b3;
  padding: 6px 8px;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1d;
  width: 258px;
  &::placeholder {
    color: #b3b3b3;
  }
}
.btn--catalog-search {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 34px;
  background-color: #1d1d1d;
  color: #fff;
  border: 1px solid #1d1d1d;
  &:hover {
    background-color: #fff;
    color: #1d1d1d;
  }
}
.svg-icon--catalog-search {
  width: 24px;
  height: 24px;
}
.catalog-main-inner {
  max-width: 100%;
  margin-bottom: 120px;
}
.row--catalog-main {
  margin: 1px;
}
.catalog-item-col {
  max-width: 25%;
  flex-basis: 25%;
  // outline: 1px solid #e5e5e5;
  @media screen and (max-width: 1100px) {
    max-width: calc(100% / 3);
    flex-basis: calc(100% / 3);
  }
  @media screen and (max-width: $mobile-bp) {
    max-width: 100%;
    flex-basis: 100%;
  }
}
.catalog-item {
  position: relative;
  display: block;
  padding: 16px;
  background-color: #fff;
  outline: 1px solid #e5e5e5;
  transition: transform $base-duration $base-timing,
    box-shadow $base-duration $base-timing;
  &:hover {
    box-shadow: 0px 2px 10px rgba($color: #000000, $alpha: 0.5);
    transform: translate3d(0, -5px, 0);
    z-index: 11;
    .catalog-item-status,
    .catalog-item-cost {
      color: #0066cc;
    }
    .catalog-item-cost-gray {
      color: #1d1d1d;
    }
  }
}
.catalog-item-img {
  padding-top: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 16px;
}
.catalog-item-name {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #1d1d1d;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.catalog-item-name--gray {
  color: rgba(29, 29, 29, 0.5);
}
.catalog-item-country-icon {
  width: 14px;
  height: 17px;
  margin-right: 4px;
}
.catalog-item-cost {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #1d1d1d;
  transition: color $base-duration $base-timing;
}
.catalog-item-cost-gray {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: rgba($color: #1d1d1d, $alpha: 0.5);
  transition: color $base-duration $base-timing;
}
.catalog-item-status {
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #1d1d1d;
  transition: color $base-duration $base-timing;
  white-space: nowrap;
}
.catalog-item-description {
  display: flex;
}
.catalog-main-nav {
  display: flex;
  align-items: flex-start;
  position: sticky;
  top: 49px;
  padding: 16px 16px 8px 16px;
  background-color: #fff;
  border-bottom: 1px solid #1d1d1d;
  z-index: 12;
  max-width: 100%;
}
.catalog-main-nav-filter-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.catalog-filter-popup {
  @media screen and (max-width: $mobile-bp) {
    display: none;
    flex-direction: column;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: #fff;
    z-index: 100;
  }
  &.show {
    display: flex;
  }
}
.base-popup-head--catalog-filter {
  display: none;
  margin-bottom: 0;
  @media screen and (max-width: $mobile-bp) {
    display: flex;
  }
}
.catalog-filter-popup-inner {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: $mobile-bp) {
    display: block;
    flex-grow: 1;
    padding: 24px 16px 16px 16px;
    overflow-y: auto;
  }
}
.dd-wrapper--catalog-main-nav {
  display: flex;
  margin-right: 8px;
  margin-bottom: 8px;
  &:last-child {
    margin-right: 0;
  }
  .dd-inner {
    min-width: 198px;
  }
  .base-checkbox-wrapper {
    display: flex;
    width: 100%;
  }
  .base-checkbox-sub-text {
    margin-left: auto;
  }
  .base-checkbox-text {
    white-space: nowrap;
  }
  @media screen and (max-width: $mobile-bp) {
    flex-direction: column;
    margin: 0 0 24px 0;
    border-bottom: 1px solid #e5e5e5;
    &:last-child {
      border-bottom: none;
    }
  }
}
.dd-wrapper--catalog-main-nav--right {
  margin-right: 0;
  margin-left: auto;
  @media screen and (max-width: $mobile-bp) {
    margin-left: 0;
    flex-grow: 1;
  }
}
.catalog-application-dd {
  .dd-inner {
    left: auto;
    right: -40px;
  }
}
.svg-icon--btn--border-bottom {
  transform: rotate(90deg);
}

.svg-icon--btn-dd-down,
.svg-icon--btn-dd-up {
  width: 16px;
  height: 16px;
}
.btn-catalog-filter-control {
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  @media screen and (max-width: $mobile-bp) {
    border-top: 1px solid rgba(29, 29, 29, 0.1);
    width: 100%;
    background: #fff;
    padding: 16px;
  }
}
.btn--main--apply-filter {
  display: none;
  @media screen and (max-width: $mobile-bp) {
    display: block;
  }
}
.btn--catalog-clear-filter {
  display: none;
  font-size: 14px;
  line-height: 24px;
  color: #1d1d1d;
  padding: 4px 8px 4px 24px;
  margin-left: 8px;
  background-position: center left 8px;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='10' viewBox='0 0 12 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.66041 6L11 1.66041L10.3396 1L6 5.33959L1.66041 1L1 1.66041L5.33959 6L1 10.3396L1.66041 11L6 6.66041L10.3396 11L11 10.3396L6.66041 6Z' fill='%231d1d1d'/%3E%3C/svg%3E");
  &.show {
    display: block;
  }
  &:hover {
    opacity: 0.8;
  }
  @media screen and (max-width: $mobile-bp) {
    text-align: left;
    margin-left: auto;
  }
}
.dd-wrapper--select {
  .base-checkbox-text {
    white-space: nowrap;
  }
}

.catalog-filter-mob-title {
  display: none;
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  @media screen and (max-width: $mobile-bp) {
    display: block;
  }
}
.btn--dd--filter {
  @media screen and (max-width: $mobile-bp) {
    display: none;
  }
}
.dd-inner--filter {
  @media screen and (max-width: $mobile-bp) {
    position: static;
    flex-direction: column;
    transform: translate(0, 0);
    visibility: visible;
    opacity: 1;
    width: 100%;
    box-shadow: none;
    padding: 0 0 8px 0;
  }
}
.dd-btn-filter-popup {
  display: none;
  flex-grow: 1;
  justify-content: center;
  border-top: 1px solid #1d1d1d;
  border-right: 1px solid #1d1d1d;
  border-bottom: 1px solid #1d1d1d;
  font-size: 14px;
  line-height: 20px;
  color: #1d1d1d;
  padding: 13px 8px 11px 8px;
  @media screen and (max-width: $mobile-bp) {
    display: flex;
  }
}
.btn--dd-catalog-select {
  @media screen and (max-width: $mobile-bp) {
    padding: 13px 8px 11px 8px;
    width: 100%;
    height: 100%;
  }
}
