<footer class="main-footer">
  <div class="container">
    <div class="main-footer-social">
      <p class="main-footer-logo">CUTSTONE</p>
      <div class="main-footer-social-inner">
        <a href="#" class="main-footer-social-item" target="_blank">
          <svg class="svg-icon svg-icon--footer-social">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#inst"></use>
          </svg>
          <span>instagram</span>
        </a>
        <a href="#" class="main-footer-social-item" target="_blank">
          <svg class="svg-icon svg-icon--footer-social">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#pinterest"></use>
          </svg>
          <span>pinterest</span>
        </a>
        <a href="#" class="main-footer-social-item" target="_blank">
          <svg class="svg-icon svg-icon--footer-social">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#fb"></use>
          </svg>
          <span>facebook</span>
        </a>
      </div>
    </div>
    <nav class="main-footer-nav">
      <div class="main-footer-nav-col">
        <p class="main-footer-nav-title">контакты</p>

        <a href="tel:+7(800)4440633" class="main-footer-nav-item"><b>+7 (800) 444 06 33</b></a>
        <a href="mailto:info@cutstone.ru" class="main-footer-nav-item">info@cutstone.ru</a>
        <p class="main-footer-nav-item">
          Московская область
          <br>
          дер. Грибки,
          <br>
          ул. Ангарская, владение 8
        </p>
      </div>
      <div class="main-footer-nav-col">
        <p class="main-footer-nav-title">полезное</p>
        <a href="#" class="main-footer-nav-item">О нас</a>
        <a href="#" class="main-footer-nav-item">Портфолио</a>
        <a href="#" class="main-footer-nav-item">Галерея камня</a>
        <a href="#" class="main-footer-nav-item">Варианты обработки торцов</a>
        <a href="#" class="main-footer-nav-item">Обучающие уроки по выбору камня</a>
        <a href="#" class="main-footer-nav-item">Наши дизайнеры и архитекторы</a>
        <a href="#" class="main-footer-nav-item">Сотрудничество</a>
        <a href="#" class="main-footer-nav-item">Изделия</a>
      </div>

      <div class="main-footer-nav-col">
        <p class="main-footer-nav-title">изделия</p>
        <a href="#" class="main-footer-nav-item">Столешницы</a>
        <a href="#" class="main-footer-nav-item">Камины</a>
        <a href="#" class="main-footer-nav-item">Полы</a>
        <a href="#" class="main-footer-nav-item">Лестницы</a>
        <a href="#" class="main-footer-nav-item">Подоконники</a>
      </div>
    </nav>
    <div class="main-footer-copyright">
      <span class="main-footer-copyright-text">© 2021, CUTstone</span>
      <span class="main-footer-copyright-sep">|</span>
      <a href="#" class="main-footer-copyright-link">Политика конфиденциальности</a>
    </div>
  </div>
</footer>