<header class="main-header {% if headerAnimate%}main-header--animate js--header-animate{%endif%}">
  <div class="container container--no-padding main-header-inner">
    <button class="btn--main-header-menu" onclick="onToggleMobileMenu()">
      <span class="visually-hidden">Мобильное меню</span>
      <svg class="svg-icon svg-icon--main-header-menu">
        <use xlink:href="./images/sprites/svg/sprite.symbol.svg#mob_menu"></use>
      </svg>
    </button>
    <a href="./main_page.html" class="main-header-logo">
      <span class="visually-hidden">Логотип CutStone</span>
      <svg class="svg-icon svg-icon--header-logo">
        <use xlink:href="./images/sprites/svg/sprite.symbol.svg#logo"></use>
      </svg>
    </a>
    <nav class="main-header-nav">
      <div class="main-header-nav-item-dropdown">
        <a href="#" class="main-header-nav-item">каталог</a>
        <div class="main-header-dropdown">
          <picture class="main-header-dropdown-bg" id="hov1">
            <source srcset="./images/dest/img/menu/menu_hov1.avif" type="image/avif">
            <source srcset="./images/dest/img/menu/menu_hov1.webp" type="image/webp">
            <img src="./images/dest/img/menu/menu_hov1.jpeg" alt="гранит">
          </picture>
          <picture class="main-header-dropdown-bg" id="hov2">
            <source srcset="./images/dest/img/menu/menu_hov2.avif" type="image/avif">
            <source srcset="./images/dest/img/menu/menu_hov2.webp" type="image/webp">
            <img src="./images/dest/img/menu/menu_hov2.jpeg" alt="гранит">
          </picture>
          <picture class="main-header-dropdown-bg" id="hov3">
            <source srcset="./images/dest/img/menu/menu_hov3.avif" type="image/avif">
            <source srcset="./images/dest/img/menu/menu_hov3.webp" type="image/webp">
            <img src="./images/dest/img/menu/menu_hov3.jpeg" alt="гранит">
          </picture>
          <picture class="main-header-dropdown-bg" id="hov4">
            <source srcset="./images/dest/img/menu/menu_hov4.avif" type="image/avif">
            <source srcset="./images/dest/img/menu/menu_hov4.webp" type="image/webp">
            <img src="./images/dest/img/menu/menu_hov4.jpeg" alt="гранит">
          </picture>
          <picture class="main-header-dropdown-bg" id="hov1">
            <source srcset="./images/dest/img/menu/menu_hov1.avif" type="image/avif">
            <source srcset="./images/dest/img/menu/menu_hov1.webp" type="image/webp">
            <img src="./images/dest/img/menu/menu_hov1.jpeg" alt="гранит">
          </picture>
          <picture class="main-header-dropdown-bg" id="hov5">
            <source srcset="./images/dest/img/menu/menu_hov5.avif" type="image/avif">
            <source srcset="./images/dest/img/menu/menu_hov5.webp" type="image/webp">
            <img src="./images/dest/img/menu/menu_hov5.jpeg" alt="гранит">
          </picture>
          <picture class="main-header-dropdown-bg" id="hov6">
            <source srcset="./images/dest/img/menu/menu_hov6.avif" type="image/avif">
            <source srcset="./images/dest/img/menu/menu_hov6.webp" type="image/webp">
            <img src="./images/dest/img/menu/menu_hov6.jpeg" alt="гранит">
          </picture>
          <div class="container container--no-padding container--header-dropdown">
            <div class="row row--wrap">
              <div class="main-header-dropdown-col">
                <p class="main-header-dropdown-title">камни</p>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="1">
                  <span>гранит</span>
                  <span class="main-header-dropdown-item-quantity">298</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="2">
                  <span>мрамор</span>
                  <span class="main-header-dropdown-item-quantity">176</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="3">
                  <span>оникс</span>
                  <span class="main-header-dropdown-item-quantity">25</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="4">
                  <span>кварцит</span>
                  <span class="main-header-dropdown-item-quantity">15</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="5">
                  <span>травертин</span>
                  <span class="main-header-dropdown-item-quantity">38</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="6">
                  <span>агломерат</span>
                  <span class="main-header-dropdown-item-quantity">300</span>
                </a>
                <a href="#" class="main-header-dropdown-link">
                  <span>смотреть весь каталог</span>
                  <svg class="svg-icon svg-icon--header-dropdown-link">
                    <use xlink:href="./images/sprites/svg/sprite.symbol.svg#arrow_small"></use>
                  </svg>
                </a>
              </div>

              <div class="main-header-dropdown-col">
                <p class="main-header-dropdown-title">изделия</p>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="1">
                  <span>столешницы</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="2">
                  <span>камины</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="3">
                  <span>лестницы</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="4">
                  <span>камины</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="5">
                  <span>полы</span>
                </a>
                <a href="#" class="main-header-dropdown-item js--header-dropdown-item" data-hov-img-id="6">
                  <span>подоконники</span>
                </a>
                <a href="#" class="main-header-dropdown-link">
                  <span>цены на издели</span>
                  <svg class="svg-icon svg-icon--header-dropdown-link">
                    <use xlink:href="./images/sprites/svg/sprite.symbol.svg#arrow_small"></use>
                  </svg>
                </a>
              </div>
              <div class="main-header-dropdown-col main-header-dropdown-col--mobile">
                <a href="#" class="main-header-dropdown-title">цены</a>
                <a href="#" class="main-header-dropdown-title">сотрудничество</a>
                <a href="#" class="main-header-dropdown-title">о нас</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="main-header-nav-item">цены</a>
      <a href="#" class="main-header-nav-item">сотрудничество</a>
      <a href="#" class="main-header-nav-item">о нас</a>
    </nav>
    <div class="main-header-panel">
      <div class="header-dropdown-viewed js--viewed-inner-parent">
        <button class="btn--header-panel" onclick="onShowViewed(this)">
          <span class="visually-hidden">Просмотренные</span>
          <span class="btn--header-panel-counter">10</span>
          <svg class="svg-icon svg-icon--header-panel">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#eye"></use>
          </svg>
        </button>
        <div class="header-dropdown-viewed-inner js--viewed-inner">
          <div class="header-dropdown-viewed-head">
            <p class="header-dropdown-viewed-title">
              Вы смотрели
            </p>
            <button class="btn--popup-close btn--popup-close--base btn--header-dropdown-viewed-close"
              onclick="onShowViewed(this)">
              <span class="visually-hidden">закрыть</span>
              <svg class="svg-icon svg-icon--btn--popup-close svg-icon--header-dropdown-viewed-close">
                <use xlink:href="./images/sprites/svg/sprite.symbol.svg#mdi_close"></use>
              </svg>
            </button>
          </div>
          <div class="header-dropdown-viewed-item-wrapper">
            <p class="header-dropdown-viewed-item-stubs">
              Список просмотренных товаров пока пуст. Вы можете начать свой выбор с каталога камня, если ищете что-то
              конкретное.
            </p>
            {% for i in range(0, 4) %}
            <a href="./watched_page.html" class="header-dropdown-viewed-item">
              <div class="header-dropdown-viewed-item-img-col">
                <div class="header-dropdown-viewed-item-img"
                  style="background-image: url('./images/dest/img/productSlider.png');">
                </div>
              </div>
              <div class="header-dropdown-viewed-item-text-col">
                <p class="header-dropdown-viewed-item-text-title">гранит</p>
                <p class="header-dropdown-viewed-item-text-name">
                  <span class="header-dropdown-viewed-item-text-name-black">Абсолют Блэк </span>
                  <span class="header-dropdown-viewed-item-text-name-gray">Abrolius Black</span>
                </p>
                <div class="header-dropdown-viewed-item-cost">
                  <p class="header-dropdown-viewed-item-cost-black">от $300 за м2</p>
                  <p class="header-dropdown-viewed-item-cost-thin"> от 23,255.25 ₽ за м2 </p>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
          <div class="header-dropdown-viewed-btn-block">
            <a href="./catalog_page.html" class="btn--main btn--main-arrow">
              <span>Перейти в каталог</span>
              <svg class="svg-icon svg-icon--btn--main-arrow">
                <use xlink:href="./images/sprites/svg/sprite.symbol.svg#arrow_small"></use>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <a href="tel:+7(800)4440633" class="main-header-panel-link">+7 (800) 444 06 33</a>
      <button class="btn--main-header-close" onclick="onToggleMobileMenu()">
        <span class="visually-hidden">закрыть меню</span>
        <svg class="svg-icon svg-icon--main-header-close">
          <use xlink:href="./images/sprites/svg/sprite.symbol.svg#mdi_close"></use>
        </svg>
      </button>
    </div>
  </div>
</header>