<div class="msg-widjet-panel">
    <a href="https://wa.me/78004440633" class="msg-widjet-item msg-widjet-item-wa" target="_blank">
        <svg class="svg-icon svg-icon--msg-widjet-item">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#whatsapp"></use>
        </svg>
        WhatsApp
    </a>
    <a href="mailto:info@cutstone.ru" class="msg-widjet-item msg-widjet-item-email" target="_blank">
        <svg class="svg-icon svg-icon--msg-widjet-item">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#Wemail"></use>
        </svg>
        Письмо
    </a>
</div>