<div class="popup-wrapper" id="popupGetPhoto">
  <div class="popup-overlay" onclick="onTogglePopUp('popupGetPhoto')"></div>
  <section class="get-photo-popup container container--no-padding">
    <div class="base-popup-head">
      <p class="base-popup-head-title">Получить фото в WhatsApp</p>
      <button class="btn--popup-close btn--popup-close--base" onclick="onTogglePopUp('popupGetPhoto')">
        <span class="visually-hidden">закрыть</span>
        <svg class="svg-icon svg-icon--btn--popup-close">
          <use xlink:href="./images/sprites/svg/sprite.symbol.svg#mdi_close"></use>
        </svg>
      </button>
    </div>
    <div class="base-popup-inner">
      <p class="base-popup-text">Пришлём вам фото со склада и поможем выбрать материал для проекта</p>
    </div>
  </section>
</div>