<div class="popup-wrapper popup-wrapper--animate" id="popupProfileOption">
  <div class="popup-overlay" onclick="onTogglePopUp('popupProfileOption')"></div>
  <section class="profile-option-popup popup-right popup-right-animate container container--no-padding">
    <div class="base-popup-head">
      <p class="base-popup-head-title">Обработка торцов</p>
      <button class="btn--popup-close btn--popup-close--base" onclick="onTogglePopUp('popupProfileOption')">
        <span class="visually-hidden">закрыть</span>
        <svg class="svg-icon svg-icon--btn--popup-close">
          <use xlink:href="./images/sprites/svg/sprite.symbol.svg#mdi_close"></use>
        </svg>
      </button>
    </div>
    <div class="base-popup-inner base-popup-inner--scroll">
      <p class="base-popup-text">
        Вы можете выбрать не только материал и цвет изделия, но и один из 16 видов торцевого профиля, либо заказать индивидуальный
      </p>
      <img src="./images/dest/img/profile_option1.png" alt="Обработка торцов" class="profile-iption-img">
      <img src="./images/dest/img/profile_option2.png" alt="Обработка торцов" class="profile-iption-img">
      <img src="./images/dest/img/profile_option3.png" alt="Обработка торцов" class="profile-iption-img">
      <img src="./images/dest/img/profile_option4.png" alt="Обработка торцов" class="profile-iption-img">
      <img src="./images/dest/img/profile_option5.png" alt="Обработка торцов" class="profile-iption-img">
      <img src="./images/dest/img/profile_option6.png" alt="Обработка торцов" class="profile-iption-img">
      <p class="base-popup-text">
        Не нашли подходящий профиль? Позвоните нам, решим вопрос производством
      </p>
    </div>
    <div class="base-popup-bts-bottom">
      <button class="btn--main btn--main-arrow">
        <span>Заказать расчёт</span>
        <svg class="svg-icon svg-icon--btn--main-arrow">
          <use xlink:href="./images/sprites/svg/sprite.symbol.svg#arrow_small"></use>
        </svg>
      </button>
    </div>
  </section>
</div>