<div class="popup-wrapper popup-wrapper--animate" id="popupSlab">
  <div class="popup-overlay" onclick="onTogglePopUp('popupSlab')"></div>
  <section class="slab-popup popup-right popup-right-animate container container--no-padding">
    <div class="base-popup-head">
      <p class="base-popup-head-title">Как правильно выбрать слэб?</p>
      <button class="btn--popup-close btn--popup-close--base" onclick="onTogglePopUp('popupSlab')">
        <span class="visually-hidden">закрыть</span>
        <svg class="svg-icon svg-icon--btn--popup-close">
          <use xlink:href="./images/sprites/svg/sprite.symbol.svg#mdi_close"></use>
        </svg>
      </button>
    </div>
    <div class="base-popup-inner base-popup-inner--scroll">
      <p class="base-popup-text">
        <b>Слэб</b>
        (слеб, сляб) — это продукт распиловки блока на канатном или дисковом станке, фактически заготовка того или иного природного камня, из которой в процессе распиловки и обработки получаются конечные изделия разнообразной формы и размеров.
      </p>
      <p class="base-popup-text">При самостоятельном выборе слэба во избежании отбора некачественного материала обратите внимание на следующие моменты:</p>
      <ul class="base-popup-list">
        <li>
          <div class="base-popup-list-counter">1</div>
          <p class="base-popup-text">Большие включения другой породы, отличающиеся от основного цвета (пятна, полосы и т.п.)</p>
        </li>
        <li>
          <div class="base-popup-list-counter">2</div>
          <p class="base-popup-text">Заводские залечки слэбов — результат заполнения пустот и трещин блоков эпоксидным клеем</p>
        </li>
        <li>
          <div class="base-popup-list-counter">3</div>
          <p class="base-popup-text">Трещины и «живые жилы» (если их не видно, то обнаружить можно двумя способами: провести ладонью по всей поверхности или посмотреть на слэб под углом – трещины и жилы обычно преломляют отражение)</p>
        </li>
        <li>
          <div class="base-popup-list-counter">4</div>
          <p class="base-popup-text">Глубокие царапины и недополированные участки поверхности слэба. Являются результатом некачественной упаковки или недобросовестной транспортировки слэбов от карьера до продающей компании</p>
        </li>
        <li>
          <div class="base-popup-list-counter">5</div>
          <p class="base-popup-text">Сломанные или сколотые углы (могут помешать оптимальному раскрою слэбов)</p>
        </li>
        <li>
          <div class="base-popup-list-counter">6</div>
          <p class="base-popup-text">Штробы или дыры, располагающиеся на рабочей поверхности слэба. Обычно встречаются на первых или последних слэбах пачки</p>
        </li>
      </ul>
    </div>
  </section>
</div>