{% extends "app/njk/layout/main.njk" %}
{% block content %}
<section class="about-head">
    <div class="container">
        <h1 class="about-head-h1">Выполняем работы <br>
            из натурального <br>
            и искусственного камня</h1>
        <p class="about-head-text">Изготовим и установим изделия любой сложности и легко <br>
                сможем воплотить в жизнь вашу самую смелую идею</p>
    </div>
</section>
<section class="about-text-block">
    <div class="container">
        <div class="row row--wrap">
            <div class="about-text-col about-text-col--left">
                <h2 class="about-head-h2">О нас</h2>
            </div>
            <div class="about-text-col about-text-col--right">
                <p class="about-base-text about-base-text--about">Компания CUTstone на протяжении 15 лет успешно занимается изготовлением и установкой изделий из натурального и искусственного камня. Мы выполняем работы любой сложности и легко сможем воплотить в жизнь вашу самую смелую идею. В штате компании специалисты с огромным опытом работы в данной сфере, по настоящему любящие свое дело. Если Вам необходимы кухонные столешницы, подоконники, оформление лестниц как в доме, так и на улице, столешницы и душевые поддоны в ванных комнатах, облицовка каминных порталов, укладка полов плитами любых размеров, оформление декоративных ниш ониксом, облицовка цоколя и фасадов зданий – мы готовы Вам в этом помочь.</p>
                <p class=" about-base-text about-base-text--about">Благодаря удобному расположению, современному оборудованию и отлично технически обученному персоналу, даже эксклюзивные материалы мы реализуем по разумным ценам. Мы работаем с сотнями типов гранита, мрамора и других видов камня из Бразилии, Турции, Испании, Италии, Индии, Китая, Украины, РФ и других стран во всем мире. Правильно подобранные акценты из натуральных природных камней в интерьере вашего дома или офиса помогут создать уникальный дизайн, который несомненно увеличит стоимость недвижимости.</p>
            </div>
        </div>
    </div>
</section>
<section class="about-partners">
    <div class="container">
        <div class="row row--wrap">
            <div class="about-partners-col about-partners-col--left">
                <h3 class="about-head-h3">Мы работаем с крупнейшими поставщиками <br> 
                    натурального и искусственного <br> камня</h3>
                <p class="about-partners-subtitle">Более чем из 20 стран</p>
            </div>
            <div class="about-partners-col about-partners-col--right">
                {% for i in range(0, 26) %}
                <div class="about-partners-item-col">
                    <img src="./images/dest/img/partner{{loop.index}}.png" alt="Партнер" class="about-partners-item-img">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="about-feature">
    <div class="container">
        <div class="row row--wrap">
            <div class="about-feature-col about-feature-col--left">
                <h2 class="about-head-h2">Преимущества работы с нами</h2>
            </div>
            <div class="about-feature-col about-feature-col--right">
                <div class="about-feature-item">
                    <p class="about-feature-title js--about-spoiler">Личный менеджер. Мы понимаем и ценим наших клиентов</p>
                    <p class="about-base-text about-base-text--feature">Работая не первый год в камне, мы знаем как в больших компаниях происходит процесс работы с клиентом, где менеджер отвечает только за то, что находится в пределах его рабочего места, каждый кладовщик отвечает только за свой участок склада, цех и монтажные бригады не контактируют, что в итоге приводят к не состыковкам на объекте. У клиентов компании CUTstone таких проблем не возникает, потому что от первого звонка до подписания документов о выполненных работах у вас будет Личный менеджер, который будет Вас сопровождать во всех вопросах на каждом этапе заказа.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title js--about-spoiler">Гибкость. Мы достанем для Вас что угодно</p>
                    <p class="about-base-text about-base-text--feature">Помимо своих запасов у нас есть доступ ко всем складам натурального и искусственного камня в московском регионе. Поэтому Вы не услышите в ответ на вопрос о наличии какого-либо материала, что его у нас нет. Мы достанем для Вас что угодно.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title js--about-spoiler">Нет привязки к одному конкретному складу</p>
                    <p class="about-base-text about-base-text--feature">Если вопрос с утверждением материала не получается решить во время замеров на объекте, то мы предлагаем подъехать для решения этого вопроса на тот склад, который будет Вам наиболее удобным. Мы подстраиваемся под наших клиентов.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title js--about-spoiler">Без привязки к слэбам. Мы не предлагаем Вам купить больше материала чем надо</p>
                    <p class="about-base-text about-base-text--feature">По большинству позиций мы готовы взять деньги только то количество материала, которое необходимо для изготовления вашего изделия и Вам не нужно покупать весь слэб целиком. У нас все по-честному.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title js--about-spoiler">Низкие эксклюзивные цены</p>
                    <p class="about-base-text about-base-text--feature">Только у нас самые низкие цены на весь материал, так как ежемесячно со всех складов мы вывозим по несколько тысяч м2 натурального и искусственного камня. Мы готовы Вам предложить эксклюзивные цены.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title js--about-spoiler">Бесплатно доставим</p>
                    <p class="about-base-text about-base-text--feature">Нашим клиентам не нужно тратить время в поисках транспортной компании, вникать в нюансы погрузки, выгрузки и транспортировки изделий, решать проблемы, связанные с возможной порчей изделий из натурального и искусственного камня при перевозке. Все это мы берем на себя, причем вы за это ничего не платите. Бесплатная доставка по Москве при заказе от 100 000 рублей – мелочь, а приятно.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title js--about-spoiler">Нет привязки к слэбам</p>
                    <p class="about-base-text about-base-text--feature">По большинству складских позиций мы готовы принять оплату только за то количество материала, которое необходимо для изготовления вашего изделия с учетом коэффициента раскроя, и Вам не нужно покупать весь слэб целиком. Мы не предлагаем Вам купить больше материала чем надо — у нас все по честному.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title js--about-spoiler">Изготовим дополнительные изделия из остатков</p>
                    <p class="about-base-text about-base-text--feature">Если после выполнения заказа от ваших слэбов остались куски и Вы не знаете, что с ними делать — мы готовы из них по себестоимости сделать Вам дополнительные изделия (декоративные рамки, журнальный столик, подставка под чайник). Практически безотходное производство.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title js--about-spoiler">Скидки и подарки от наших партнеров</p>
                    <p class="about-base-text about-base-text--feature">За 15 лет успешной работы в каменном бизнесе мы обзавелись проверенными партнерами во многих сферах торговли и услуг. Мы готовы поделиться нашими надежными партнерами с Вами, а они предоставят Вам дополнительные скидки. Взаимовыгодное сотрудничество во всем.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title">Мы работаем 7 дней в неделю</p>
                    <p class="about-base-text about-base-text--feature">Мы живем и работаем в столице и зная ее проблемы с пробками и постоянным дефицитом свободного времени, понимаем что в будни все не успеть. Мы работаем для Вас и в выходные дни, причем не только в субботу, но и в ВОСКРЕСЕНЬЕ. Мы такие же потребители как и Вы.</p>
                </div>
                <div class="about-feature-item">
                    <p class="about-feature-title">Гарантия 5 лет</p>
                    <p class="about-base-text about-base-text--feature">Мы работаем с лучшим материалом, наши специалисты высококвалифицированные мастера своего дела, мы используем только качественные расходные материалы с заводов изготовителей, мы уверены в качестве наших работ, поэтому даем гарантию на них 5 лет. Уверенность в своем деле.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="about-clients">
    <div class="container">
        <div class="row row--wrap">
            <div class="about-clients-col">
                <h2 class="about-head-h2">Наши клиенты</h2>
            </div>
            <div class="about-clients-col about-clients-col--right">
                {% for i in range(0, 10) %}
                <div class="about-clients-item-col">
                    <img src="./images/dest/img/client{{loop.index}}.png" alt="Клиент" class="about-clients-item-img">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<section class="about-advantage">
    <div class="container">
        <div class="row row--wrap">
            <div class="about-advantage-col">
                <h2 class="about-head-h2">Индивидуальный подход</h2>
            </div>
            <div class="about-advantage-col about-advantage-col--right">
                <p class="about-base-text about-base-text--advantage">Работа сотрудников компании «CUTstone» прежде всего строится на удовлетворении индивидуальных запросов клиента, внимательном учёте и точном выполнении всех его пожеланий. Каковы бы ни были ваши задумки, условия, финансовые возможности, специфика конкретного заказа, Вы в любом случае можете рассчитывать на понимание с нашей стороны, готовность пойти навстречу и итоговую реализацию ваших задумок в камне.</p>
                <p class="about-base-text about-base-text--advantage">Каждый человек индивидуален, каждый проект особенный — более чем за 15 лет работы мы научились понимать наших клиентов с полуслова и по-настоящему гордимся этим. Мы заботимся о том, чтобы каждый наш клиент остался доволен проделанной нами работой и полученным итоговым результатом, который является нашим общим успехом. Мы гордимся своей работой.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}