{% extends "app/njk/layout/main.njk" %}
{% block content %}
  <div class="catalog-head">
    <div class="container">
      <h1 class="catalog-head-title">каталог</h1>
      <p class="catalog-head-text">галерея камня</p>
    </div>
  </div>
  <div class="catalog-section">
    <section class="catalog-section-head-block">
      <div class="container">
        <div class="catalog-section-head">
          <p class="catalog-title">
            Разновидностей:
            <span class="catalog-title-quantity">16</span>
          </p>
          <form class="catalog-search-form">
            <label class="catalog-search-input-wrapper">
              <span class="visually-hidden">Поиск</span>
              <input type="text" class="catalog-search-input" placeholder="Поиск">
            </label>
            <button class="btn--catalog-search">
              <span class="visually-hidden">Искать</span>
              <svg class="svg-icon svg-icon--catalog-search">
                <use xlink:href="./images/sprites/svg/sprite.symbol.svg#mdi_search"></use>
              </svg>
            </button>
          </form>
        </div>
      </div>
    </section>

    <div class="container container--no-padding catalog-main-nav">
      <div class="dd-wrapper dd-wrapper--catalog-main-nav catalog-stone-dd js--dd-parent">
        <button class="btn--dd js--dd-btn">
          <span class="btn-dd-text">Камень</span>
          <svg class="svg-icon svg-icon--btn-dd">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#dd_arrow"></use>
          </svg>
        </button>
        <div class="dd-inner">
          {% set stoneItems = [
            [
              'Гранит', '298'
            ],
            [
              'Мрамор', '176'
            ],
            [
              'Оникс', '25'
            ],
            [
              'Травертин', '38'
            ],
            [
              'Кварцит', '15'
            ],
            [
              'Агломерат', '300'
            ]
          ] %}
          {% for name, number in stoneItems %}
            <div class="dd-item">
              <label class="base-checkbox-wrapper">
                <input type="checkbox" class="base-checkbox" {% if loop.index == '3'%} disabled="disabled" {%endif%}>
                <span class="base-checkbox-fake"></span>
                <span class="base-checkbox-text">{{name}}</span>
                <span class="base-checkbox-sub-text">{{number}}</span>
              </label>
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="dd-wrapper dd-wrapper--catalog-main-nav catalog-color-dd js--dd-parent">
        <button class="btn--dd js--dd-btn">
          <span class="btn-dd-text">Цвет</span>
          <svg class="svg-icon svg-icon--btn-dd">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#dd_arrow"></use>
          </svg>
        </button>
        <div class="dd-inner row">
          <div class="dd-inner-col">
            {% set stoneItems = [
              [
                'Белый', 'white'
              ],
              [
                'Серый', 'gray'
              ],
              [
                'Чёрный', 'black'
              ],
              [
                'Бежевый', 'beige'
              ],
              [
                'Коричневый', 'brown'
              ]
            ] %}
            {% for name, class in stoneItems %}
              <div class="dd-item">
                <label class="base-checkbox-wrapper">
                  <input type="checkbox" class="base-checkbox" {% if loop.index == '3'%} disabled="disabled" {%endif%}>
                  <span class="base-checkbox-fake-color base-checkbox-fake-color--{{class}}"></span>
                  <span class="base-checkbox-text">{{name}}</span>
                </label>
              </div>
            {% endfor %}
          </div>
          <div class="dd-inner-col">
            {% set stoneItems = [
              [
                'Красный', 'red'
              ],
              [
                'Зелёный', 'green'
              ],
              [
                'Синий', 'blue'
              ],
              [
                'Жёлтый', 'yellow'
              ],
              [
                'Оранжевый', 'orange'
              ]
            ] %}
            {% for name, class in stoneItems %}
              <div class="dd-item">
                <label class="base-checkbox-wrapper">
                  <input type="checkbox" class="base-checkbox" {% if loop.index == '3'%} disabled="disabled" {%endif%}>
                  <span class="base-checkbox-fake-color base-checkbox-fake-color--{{class}}"></span>
                  <span class="base-checkbox-text">{{name}}</span>
                </label>
              </div>
            {% endfor %}
          </div>
          <div class="dd-inner-col">
            {% set stoneItems = [
              [
                'Розовый', 'pink'
              ],
              [
                'Мультиколор', 'multi'
              ]
            ] %}
            {% for name, class in stoneItems %}
              <div class="dd-item">
                <label class="base-checkbox-wrapper">
                  <input type="checkbox" class="base-checkbox" {% if loop.index == '3'%} disabled="disabled" {%endif%}>
                  <span class="base-checkbox-fake-color base-checkbox-fake-color--{{class}}"></span>
                  <span class="base-checkbox-text">{{name}}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="dd-wrapper dd-wrapper--catalog-main-nav catalog-country-dd js--dd-parent">
        <button class="btn--dd js--dd-btn">
          <span class="btn-dd-text">Страна</span>
          <svg class="svg-icon svg-icon--btn-dd">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#dd_arrow"></use>
          </svg>
        </button>
        <div class="dd-inner row">
          <div class="dd-inner-col">
            {% set stoneItems = [
              [
                'Бразилия', '🇧🇷'
              ],
              [
                'Греция', '🇬🇷'
              ],
              [
                'Индия', '🇮🇳'
              ],
              [
                'Испания', '🇪🇸'
              ],
              [
                'Италия', '🇮🇹'
              ]
            ] %}
            {% for name, country in stoneItems %}
              <div class="dd-item">
                <label class="base-checkbox-wrapper">
                  <input type="checkbox" class="base-checkbox" {% if loop.index == '3'%} disabled="disabled" {%endif%}>
                  <span class="base-checkbox-fake"></span>
                  <span class="base-checkbox-text">{{name}}</span>
                  <span class="base-checkbox-country">{{country}}</span>
                </label>
              </div>
            {% endfor %}
          </div>
          <div class="dd-inner-col">
            {% set stoneItems = [
              [
                'Китай', '🇨🇳'
              ],
              [
                'Россия', '🇷🇺'
              ],
              [
                'Турция', '🇹🇷'
              ],
              [
                'Украина', '🇺🇦'
              ],
              [
                'Чехия', '🇨🇿'
              ]
            ] %}
            {% for name, country in stoneItems %}
              <div class="dd-item">
                <label class="base-checkbox-wrapper">
                  <input type="checkbox" class="base-checkbox" {% if loop.index == '3'%} disabled="disabled" {%endif%}>
                  <span class="base-checkbox-fake"></span>
                  <span class="base-checkbox-text">{{name}}</span>
                  <span class="base-checkbox-country">{{country}}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="dd-wrapper dd-wrapper--catalog-main-nav catalog-cost-dd js--dd-parent">
        <button class="btn--dd js--dd-btn">
          <span class="btn-dd-text">Цена</span>
          <svg class="svg-icon svg-icon--btn-dd">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#dd_arrow"></use>
          </svg>
        </button>
        <div class="dd-inner">
          <div class="dd-inner-cost row">
            <label class="dd-inner-cost-wrapper">
              <span class="dd-inner-cost-text">От</span>
              <input type="number" class="dd-inner-cost-input" placeholder="3000">
            </label>
            <label class="dd-inner-cost-wrapper">
              <span class="dd-inner-cost-text">До</span>
              <input type="text" class="dd-inner-cost-input" placeholder="375000">
            </label>
          </div>
        </div>
      </div>
      <div class="dd-wrapper dd-wrapper--catalog-main-nav catalog-application-dd js--dd-parent">
        <button class="btn--dd js--dd-btn">
          <span class="btn-dd-text">Применение</span>
          <svg class="svg-icon svg-icon--btn-dd">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#dd_arrow"></use>
          </svg>
        </button>
        <div class="dd-inner row">
          <div class="dd-inner-col">
            {% set stoneItems = [['Входные группы'], ['Камины'], ['Лестницы'], ['Панно'], ['Плинтуса']] %}
            {% for name in stoneItems %}
              <div class="dd-item">
                <label class="base-checkbox-wrapper">
                  <input type="checkbox" class="base-checkbox" {% if loop.index == '3'%} disabled="disabled" {%endif%}>
                  <span class="base-checkbox-fake"></span>
                  <span class="base-checkbox-text">{{name}}</span>
                </label>
              </div>
            {% endfor %}
          </div>
          <div class="dd-inner-col">
            {% set stoneItems = [['Плиты, пол'], ['Плиты, стены'], ['Подоконники'], ['Стены'], ['Столешницы']] %}
            {% for name in stoneItems %}
              <div class="dd-item">
                <label class="base-checkbox-wrapper">
                  <input type="checkbox" class="base-checkbox" {% if loop.index == '3'%} disabled="disabled" {%endif%}>
                  <span class="base-checkbox-fake"></span>
                  <span class="base-checkbox-text">{{name}}</span>
                </label>
              </div>
            {% endfor %}
          </div>
          <div class="dd-inner-col">
            {% set stoneItems = [['Столешницы, барбекю'], ['Столешницы, кухня'], ['Столешницы, санузел'], ['Ступени']] %}
            {% for name in stoneItems %}
              <div class="dd-item">
                <label class="base-checkbox-wrapper">
                  <input type="checkbox" class="base-checkbox" {% if loop.index == '3'%} disabled="disabled" {%endif%}>
                  <span class="base-checkbox-fake"></span>
                  <span class="base-checkbox-text">{{name}}</span>
                </label>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="dd-wrapper dd-wrapper--catalog-main-nav dd-wrapper--catalog-main-nav--right js--dd-parent">
        <button class="btn--dd js--dd-btn">
          <span class="btn-dd-text">А→Я Название</span>
          <svg class="svg-icon svg-icon--btn-dd">
            <use xlink:href="./images/sprites/svg/sprite.symbol.svg#dd_arrow"></use>
          </svg>
        </button>
        <div class="dd-inner">
          <div class="dd-item">
            <label class="base-checkbox-wrapper">
              <input type="checkbox" class="base-checkbox">
              <span class="base-checkbox-fake"></span>
              <span class="base-checkbox-text">Название А→Я
              </span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="container container--no-padding catalog-main-inner">
      <div class="row row--wrap row--catalog-main">
        {% for i in range(0, 16) %}
          <div class="catalog-item-col">
            <a href="#" class="catalog-item">
              <div class="catalog-item-img" style="background-image: url('./images/dest/img/gal6.jpg');"></div>
              <div class="catalog-item-text-block">
                <p class="catalog-item-name">
                  <span class="catalog-item-country-icon">
                    🇮🇹
                  </span>
                  <span class="catalog-item-name">айвори</span>
                  <span class="catalog-item-name catalog-item-name--gray">ivory</span>
                </p>
                <div class="catalog-item-description">
                  <div>
                    <p class="catalog-item-cost">от $ 350 за м2</p>
                    <p class="catalog-item-cost-gray">от 27 045,02 ₽ за м2</p>
                  </div>
                  <p class="catalog-item-status">
                    В наличии
                  </p>
                </div>
              </div>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}